# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://user:password@host:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://user:password@host:5432/postgres"

AUTH_SECRET="your_super_secret_key_here"

NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY="your_anon_key_here"
